<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>goods</title>
</head>
<body>
<h1>This is Goods Page</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Remark</th>
        <th>CreatedTime</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="g: ${goods}">
        <td th:text="${g.name}"></td>
        <td th:text="${g.remark}"></td>
        <td th:text="${#dates.format(g.createdTime,'yyyy-MM-dd HH:mm')}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
